
body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container{ 
    width: 883px;
    margin: 0px auto;
}

figure{
    width: 883px;
    height: 374px;
     margin: 0%;
}
.cabecera{
    width: 883px;
    height: 374px;
}    

header > h1{ 
    font-weight: black;
    font-size: 89px;
    line-height: 79px;
    color: #FFB300;
}
header > p{
    font-size: 21px;
    font-weight: 400px;
    line-height: 1.61;
    color: black;
    margin: 0 0 34px 0; 
}

nav a {
    font-size: 21px;
    font-weight: black;
    color:  #0037B3;
    margin: 5px
}

.title {
    font-size: 34px;
    color: #FFB300;
    font-weight: bold;
}

ul li {
    font-size: 21px;
    font-weight: 400px;
    line-height: 21px * 1.61;
}

section p {
    font-size: 21px;
    font-weight: 400px;
    line-height: 21px * 1.61;
}